<% layout('layout') -%>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <% if (message.length > 0) { %>
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= message %>
        </div>
      <% } %>
        <% for (var i = 0; i < foundCart.items.length; i++) { %>
          <div class="list-group">
            <span class="list-group-item">
              <div class="row">
                <div class="col-md-3">
                  <span><img class="product-image" src="<%= foundCart.items[i].item.image %>"></span>
                </div>
                <div class="col-md-3">
                  <p class="list-group-item-heading"><%= foundCart.items[i].item.name %></p>
                </div>
                <div class="col-md-3">
                  <p><%= foundCart.items[i].quantity %></p>
                  <p>$<%= foundCart.items[i].price %></p>
                  <form method="post" action="/remove-cartitem">
                    <input type="hidden" name="item" value="<%= foundCart.items[i]._id %>"></input>
                    <input type="hidden" name="price" value="<%= foundCart.items[i].price %>"></input>
                    <button type="submit" type="button">Remove</button>
                  </form>
                </div>
              </div>
            </span>
          </div>
        <% } %>
    </div>
    <div class="col-md-3"></div>

    <div class="col-md-3">
      <div class="list-group">
        <span class="list-group-item">
          <h4>Total: $<span class="totalPrice"><%= foundCart.total %></span></h4>
        </span>
        <span class="list-group-item">
          <div class="form-group">
            <input type="hidden" value="<%= foundCart.total %>"></input>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Pay with Stripe</button>
          </div>
        </span>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Pay with Stripe</h4>
          </div>
          <div class="modal-body">
            <!-- CREDIT CARD FORM STARTS HERE -->
              <div class="panel panel-default credit-card-box">
                  <div class="panel-heading display-table" >
                      <div class="row display-tr" >
                          <h3 class="panel-title display-td" ></h3>
                          <div class="display-td" >
                              <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                          </div>
                      </div>
                  </div>
                  <div class="panel-body">
                    <form accept-charset="UTF-8" action="/payment" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                      <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                          <label class='control-label'>Name on Card</label>
                          <input class='form-control' id="name" name="name" size='4' type='text'>
                        </div>
                      </div>
                      <div class='form-row'>
                        <div class='col-xs-12 form-group card required'>
                          <label class='control-label'>Card Number</label>
                          <input autocomplete='off' class='form-control card-number' name="cardnumber" size='20' type='text'>
                        </div>
                      </div>
                      <div class='form-row'>
                        <div class='col-xs-4 form-group cvc required'>
                          <label class='control-label'>CVC</label>
                          <input autocomplete='off' class='form-control card-cvc' name="cardcvc" placeholder='ex. 311' size='4' type='text'>
                        </div>
                        <div class='col-xs-4 form-group expiration required'>
                          <label class='control-label'>Expiration</label>
                          <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text'>
                        </div>
                        <div class='col-xs-4 form-group expiration required'>
                          <label class='control-label'> </label>
                          <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text'>
                        </div>
                      </div>
                      <div class='form-row'>
                        <div class='col-md-12'>
                          <div class='form-control total btn btn-info'>
                            Total:
                            <span class='amount'><%= foundCart.total %></span>
                          </div>
                        </div>
                      </div>
                      <div class='form-row'>
                        <div class='col-md-12 form-group'><br />
                          <input type="hidden" name="stripeMoney" value="<%= foundCart.total %>"></input>
                          <button id="pay" class='form-control btn btn-primary submit-button' type='submit'>Pay »</button>
                        </div>
                      </div>
                      <div class='form-row'>
                        <div class='col-md-12 error form-group hide'>
                          <div class='alert-danger alert'>
                            Please correct the errors and try again.
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
              </div>
              <!-- CREDIT CARD FORM ENDS HERE -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
          </div>
        </div>
      </div>
    </div>


  </div>



</div>
